<% module_namespacing do -%>
class <%= class_name %>Mailer < ApplicationMailer
<% actions.each_with_index do |action, index| -%>
<% if index != 0 -%>

<% end -%>
  # Subject can be set in your I18n file at config/locales/en.yml
  # with the following lookup:
  #
  #   en.<%= mailer_file_path.tr("/", ".") %>.<%= action %>.subject
  #
  def <%= action %>
    mail to: "to@example.org", react: true
  end
<% end -%>
end
<% end -%>
